html, body {
  height: 100%;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: -142px;
  position: relative;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .Content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
} */
.Content {
  padding-bottom: 2.5rem;
}
.selfie {
  height: auto;
  width: 200px;
  border: solid 2px green;
  border-radius: 10%;
}
.footer {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: #F8F8F8; */
  /* border-top: 1px solid #E7E7E7; */
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2.5rem;
  background: url("https://images.pexels.com/photos/296884/pexels-photo-296884.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  border-top: 4px solid green;
}
.App:after {
  content: "";
  display: block;
}

.footer a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navbar {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background: url("https://images.pexels.com/photos/296884/pexels-photo-296884.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  padding: 10px;
  border-bottom: 4px solid green;

}
.navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navbar a:hover {
  border-radius: 10%;
  background: rgba(0, 136, 0, 0.5);
}

/* For Medium Screens*/
@media all and (max-width: 800px) {
  .navbar {
    justify-content: space-around;
  }
  .footer {
    justify-content: space-around;
  }
  .navbar a:hover {
    background: rgba(255, 0, 0, 0.5);
    border-bottom: none;
  }
}

/* For small screens */
@media all and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    flex-flow: column wrap;
    padding: 0;
  }
  .navbar a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .navbar li:last-of-type a {
    border-bottom: none;
  }
  .navbar a:hover {
    background: rgba(255, 0, 0, 0.5);
    border-bottom: none;
  }

  .footer {
    flex-direction: column;
    flex-flow: column wrap;
    padding: 0;
  }
  .footer a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .footer li:last-of-type a {
    border-bottom: none;
  }
  .home-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-profile {
  flex: 1;
  justify-content: center;
  text-align: center;
}
.home-bio {
  flex: 1;
  text-align: left;

}
