html,
body {
  height: 100%;
  font-size: 16px;
  color: #553300;
}

/* App Top Level */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: -142px;
  position: relative;
  background: #cbb3c9;
}

.Content {
  margin: 70px 0px;
}

.section-title {
  text-align: center;
}

/* Footer */
.footer {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 6rem;
}
.App:after {
  content: "";
  display: block;
}

.footer {
  display: block;
  text-align: center;
}
.footer-icons a {
  text-decoration: none;
  padding: 1em;
  color: rgba(66.7, 49, 22.4, 0.5);
}
.footer a:hover {
  color: #553300;
}
.footer p {
  display: block;
  color: rgba(66.7, 49, 22.4, 0.5);
}

/* Navbar */
.navbar {
  top: 0;
  z-index: 10;
  opacity: 1;
  transition: 0.5s;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 5px;
  cursor: pointer;
  margin-right: auto;
}

.nav-item {
  justify-content: right;
}

.navbar > li:first-child {
  margin-right: auto;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-weight: 800;
  color: rgba(66.7, 49, 22.4, 0.5);
  text-align: center;
}
.navbar a:hover {
  border-radius: 20px;
  color: #553300;
  text-decoration: underline;
  transition: all 0.5s;
}
.navbar a:after {
  transition: all 0.5s;
  text-decoration: underline;
}
.navbar a:before {
  transition: all 0.5s;
}
.nav-item > .active {
  border-radius: 20px;
  color: #553300;
  text-decoration: underline;
  transition: all 0.5s;
}

.responsive-drawer {
  display: none;
}

/* Home with big name and blurb */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container h1 {
  text-align: center;
}
.home-bio {
  margin: 0 auto;
  justify-content: center;
  font-weight: 500;
  width: 60%;
  margin-bottom: 200px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 16px;
}
.name {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.name h1 {
  font-family: "Dancing Script", cursive;
}

/* About Section */
.about-section {
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.selfie-container {
  max-width: 50%;
}

.selfie {
  height: auto;
  width: 200px;
  border: solid 2px #805515;
  border-radius: 25px;
}

.home-about {
  text-align: center;
  width: 80%;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 16px;
  max-width: 50%;
  max-height: 300px;
  overflow: auto;
}

.home-about p {
  text-align: left;
}

.about-tech {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.about-tech ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.about-tech li {
  padding: 6px;
}

/* Projects */
.home-projects-container {
  margin-bottom: 200px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
}

.project-card {
  position: relative;
  margin-top: 30px;
  width: 50%;
}
.preview-pic {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin-top: 10px;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.preview-pic:hover {
  opacity: 0.3;
}
.project-card:hover .middle {
  opacity: 1;
}
.text {
  font-weight: 500;
  padding: 16px 32px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.about-vid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.project-video {
  width: 560px;
  height: 315px;
}
.project-about {
  width: 50%;
  text-align: justify;
}

.proj-links a {
  float: left;
  border-radius: 20px;
  padding: 16px 32px;
  margin: 5px;
  text-decoration: none;
}

.proj-links a {
  position: relative;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
}
@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
.proj-links a:hover:before {
  animation: ripple 1s ease;
}

.proj-links a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transform: scale(0);
}

/* Resume */
.resume {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
.resume li {
  list-style-type: circle;
}
.resume h2 {
  text-decoration: underline;
}

/* Blog */
.home-blog-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.blogcard {
  height: 350px;
  padding: 15px;
  margin: 10px;
  align-items: flex-start;
}
.blog-content-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.blogcard a {
  text-decoration: none;
  color: #553300;
}
.blog-content {
  width: 65%;
}
.blog-img img {
  width: 150px;
  height: auto;
}

/* For Medium Screens*/
@media all and (max-width: 800px) {
  .navbar {
    justify-content: space-around;
  }
  .responsive-drawer {
    display: none;
  }
  .footer {
    justify-content: space-around;
  }
  .navbar a:hover {
    border-radius: 20px;
    background: rgba(66.7, 49, 22.4, 0.5);
    border-bottom: none;
  }
  .project-card {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .project-about {
    width: 80%;
  }
  .about-vid {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .project-name {
    text-align: center;
  }
  .proj-links {
    text-align: center;
  }
}

/* For small screens */
@media all and (max-width: 600px) {
  .desktop-navbar {
    display: none;
  }

  .responsive-drawer {
    display: unset;
    text-align: right;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .navbar > li:first-child {
    margin-right: unset;
  }

  .footer {
    flex-direction: column;
    flex-flow: column wrap;
    padding: 0;
  }
  .footer a {
    text-align: center;
    padding: 10px;
  }
  .footer li:last-of-type a {
    border-bottom: none;
  }
  .home-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .home-bio {
    width: unset;
  }
  .project-card {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .project-about {
    width: 80%;
  }
  .about-vid {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .project-name {
    text-align: center;
  }
  .proj-links {
    text-align: center;
  }
  .project-video {
    width: 80%;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .selfie-container {
    margin-bottom: 20px;
  }

  .home-about {
    max-width: unset;
    width: unset;
  }

  .about-tech {
    width: unset;
  }

  .resume {
    width: unset;
  }

  .blogcard {
    margin-bottom: 100px;
    padding: 20px;
  }
  .blog-content p {
    height: 5.7em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
