html, body {
  height: 100%;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: -142px;
  position: relative;
  background: url("https://img.freepik.com/free-photo/white-marble-texture-background-abstract-marble-texture-natural-patterns-design_41389-323.jpg?size=626&ext=jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .Content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
} */
.Content {
  padding-bottom: 2.5rem;
}

.footer {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: #F8F8F8; */
  /* border-top: 1px solid #E7E7E7; */
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2.5rem;
  /* background: url("https://images.pexels.com/photos/296884/pexels-photo-296884.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"); */
  background-color: #D4AA6A;
  border-top: 4px solid #805515;
}
.App:after {
  content: "";
  display: block;
}

.footer a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #553300;
  font-family: 'Alice', serif;
}

.navbar {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #D4AA6A;
  padding: 5px;
  border-bottom: 4px solid #805515;
  font-family: 'Alice', serif;
}
.navbar a {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 4vh;
  font-weight: 800;
  color: #553300;
  text-align: center;
}
.navbar a:hover {
  border-radius: 20px;
  background: rgba(66.7, 49, 22.4, 0.5);
}


.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-profile {
  flex: 1;
  justify-content: center;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 8vh;
  color: #553300;
}
.selfie {
  height: auto;
  width: 200px;
  border: solid 2px #805515;
  border-radius: 100px;
}
.home-bio {
  flex: 1;
  text-align: left;
  color: #553300;
  /* font-family: 'Merienda', cursive; */
  font-family: 'Alice', serif;
  font-size: 4vh;
  width: 80%;
}

.Content h1 {
  text-align: center;
  font-family: 'Alice', serif;
  color: #553300;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Alice', serif;
  overflow: scroll;
}

.project-card {
  position: relative;
  width: 50%;
}
.preview-pic {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 3px solid #805515;
  margin-top: 10px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.project-card:hover .image {
  opacity: 0.3;
}

.project-card:hover .middle {
  opacity: 1;
}

.text {
  background-color: #D4AA6A;
  border: 3px solid #805515;
  border-radius: 20px;
  color: #553300;
  font-size: 16px;
  padding: 16px 32px;
}


.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Alice', serif;
}
.about-vid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.project-video {
  width: 560px;
  height: 315px;
}
.project-about {
  width: 50%;
}

.proj-links a {
  float: left;
  background-color: #D4AA6A;
  border: 3px solid #805515;
  border-radius: 20px;
  color: #553300;
  font-size: 16px;
  padding: 16px 32px;
  margin: 5px;
}

/* For Medium Screens*/
@media all and (max-width: 800px) {
  .navbar {
    justify-content: space-around;
  }
  .footer {
    justify-content: space-around;
  }
  .navbar a:hover {
    border-radius: 20px;
    background: rgba(66.7, 49, 22.4, 0.5);
    border-bottom: none;
  }
  .project-card {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  }
  .project-about {
    width: 80%;
  }
  .about-vid {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .project-name {
    text-align: center;
  }
  .proj-links {
    text-align: center;
  }
}

/* For small screens */
@media all and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    flex-flow: column wrap;
    padding: 0;
  }
  .navbar a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .navbar li:last-of-type a {
    border-bottom: none;
  }
  .navbar a:hover {
    background: rgba(66.7, 49, 22.4, 0.5);
    border-radius: 20px;
    border-bottom: none;
  }

  .footer {
    flex-direction: column;
    flex-flow: column wrap;
    padding: 0;
  }
  .footer a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .footer li:last-of-type a {
    border-bottom: none;
  }
  .home-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-card {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  }
  .project-about {
    width: 80%;
  }
  .about-vid {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .project-name {
    text-align: center;
  }
  .proj-links {
    text-align: center;
  }
  .project-video {
    width: 80%;
    height: auto;
  }

}
